# Entorno del servidor
PORT=3000
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000

# Base de datos (PostgreSQL)
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres_secure_password
DB_NAME=ondemand_db
